h1{
	color:#4DA889 ;
	font-family: 'Roboto', sans-serif;
}
img{
	width: 400px;
}
#id-thirdDiv{
	height: 500px;
	width: 600px;
	background-color:#4DA889;
	padding: 50px;
	border:10px solid #4DA859 ;

}
#spanId{
	font-size:18 ;
	margin: 50px;
	font-family: 'Roboto', sans-serif;
}